@model List<QLBANDTDD.Models.ThongSoKiThuat>
@{
    ViewBag.Title = "Thông số kỹ thuật của sản phẩm";
    Layout = "~/Areas/LoginAdmin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewBag.Title</h2>
    <div class="box col-md-12">
            <div class="box-content">
                <input id="CountFeld" name="CountFeld" type="hidden" value="@Model.Count">
                @using (Html.BeginForm("SuaThongSoKT", "SanPham", FormMethod.Post, new { id = "SuaThongSoKT" }))
                {
                    <div class="form-horizontal">
                        <div class="alert alert-info">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model[0].TenTSKT,"Tên Thông Số Kĩ Thuật", new { @class = "center-text col-md-2" })
                            @Html.LabelFor(model => model[0].GiaTri,"Giá Trị", new { @class = "center-text col-md-4" })
                        </div>
                        <div id="thongsoktgrp">
                            @for (int i = 0; i < Model.Count; ++i)
                            {
                                @Html.Hidden("lstkt[" + i + "].MaSP", Model[i].MaSP)
                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.TextBox("lstkt[" + i + "].TenTSKT", Model[i].TenTSKT, new { @class = "form-control" })
                                        @Html.ValidationMessage("lstkt[" + i + "].TenTSKT")
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBox("lstkt[" + i + "].GiaTri", Model[i].GiaTri, new { @class = "form-control" })
                                        @Html.ValidationMessage("lstkt[" + i + "].GiaTri")
                                    </div>
                                    <a class="btn btn-danger remove_field" href='javascript:'>
                                        <i class="glyphicon glyphicon-minus icon-white"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a class="btn btn-info" href='javascript:ThemTSKTMoi("@Model[0].MaSP")'>
                                    <i class="glyphicon glyphicon-plus icon-white"></i>
                                    Thêm thuộc tính mới
                                </a>
                                <a class="btn btn-danger" href='javascript:XoaTSKT()'>
                                    <i class="glyphicon glyphicon-minus icon-white"></i>
                                    Xóa thuộc tính vừa thêm
                                </a>
                                <a class="btn btn-success" href='javascript:submitform("SuaThongSoKT")'>
                                    <i class="glyphicon glyphicon-book icon-white"></i>
                                    Lưu lại
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
    </div>
    <!--/span-->
