
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutPageNew.cshtml";
    var Total = Session["Total"];
    var Quantity = Session["Quantity"];
}
@model List<QLBANDTDD.ViewModel.CartItem>

@if (Model.Count > 0)
{
    <section id="cart-page">
        <div class="container">
            <!-- ========================================= CONTENT ========================================= -->
            <div class="col-xs-12 col-md-9 items-holder no-margin">
                @foreach (var item in Model)
                {
            <div class="row no-margin cart-item">
                <div class="col-xs-12 col-sm-1 no-margin">
                    <a href="@item.sanpham.GetUrl()" class="thumb-holder">
                        <img class="lazy" alt="" src="@item.sanpham.HinhAnh" />
                    </a>
                </div>
                <div class="col-xs-12 col-sm-5 ">
                    <div class="title">
                        <a href="@item.sanpham.GetUrl()">@item.sanpham.TenSP</a>
                    </div>
                    <div class="brand">@item.sanpham.HangSanXuat.TenHang</div>
                </div>
                <div class="col-xs-12 col-sm-2 no-margin">
                    <div class="quantity">
                        <div class="le-quantity">
                            <form>
                                <a class="minus" href="javascript:;" onclick="changequality(@item.sanpham.MaSP,'G')"></a>
                                <input @*@*name="quantity1"*@ id="quantity" data-id="@item.sanpham.MaSP" data-bind="@item.sanpham.SoLuong" class="Quantity" readonly="readonly" type="text" value="@item.Quantity" />
                                <a class="plus" href="javascript:;" onclick="changequality(@item.sanpham.MaSP,'T')"></a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 no-margin">
                    <div class="price" style="padding-right:15px;">
                        @string.Format("{0:0,0}", @item.Quantity * @item.sanpham.GiaTien) VNĐ
                    </div>
                    <a class="close-btn" href="javascript:;" onclick="deletecart(@item.sanpham.MaSP)"></a>
                </div>
            </div><!-- /.cart-item -->
                }
            </div>
            <div class="col-xs-12 col-md-2 ">
                <h5><a class="close-btn" href="javascript:;" onclick="deleteall()">Xóa giỏ hàng</a></h5>
                </div>
                <!-- ========================================= CONTENT : END ========================================= -->
                <!-- ========================================= SIDEBAR ========================================= -->
                <div class="col-xs-12 col-md-3 no-margin sidebar ">
                    <div class="widget cart-summary">
                        <h1 class="border">Giỏ hàng</h1>
                        <div class="body">
                            <ul class="tabled-data no-border inverse-bold">
                                <li>
                                    <div>Tổng tiền sản phẩm :</div>
                                    <br />
                                    <div class="value pull">@string.Format("{0:0,0}", Total) VNĐ</div>
                                </li>
                                <li>
                                    <label>Tổng số lượng :</label>
                                    <div class="value pull">@Quantity</div>
                                </li>
                                <li>
                                    <label>Phí vận chuyển :</label>
                                    <div class="value pull">Miễn phí</div>
                                </li>
                            </ul>
                            <ul id="total-price" class="tabled-data inverse-bold no-border">
                                <li>
                                    <label>Tổng tiền :</label>
                                    <div class="value pull-right">@string.Format("{0:0,0}", Total) VNĐ</div>
                                </li>
                            </ul>
                            <div class="buttons-holder">
                                <a class="le-button big" href='@Url.Action("Thanhtoan", "Cart")'>Chấp thuận</a>
                                <a class="simple-link block" href='@Url.Action("Index", "Home")'>Tiếp tục mua hàng</a>
                            </div>
                        </div>
                    </div><!-- /.widget -->
                </div><!-- /.sidebar -->
                <!-- ========================================= SIDEBAR : END ========================================= -->
            </div>
    </section>
}
else
{
    <section id="cart-page">
        <div class="container">
            <!-- ========================================= CONTENT ========================================= -->
            <div class="col-xs-12 col-md-9 items-holder no-margin">
                <h2>Chưa có sản phẩm trong giỏ hàng</h2>
                </div>
            </div>
    </section>
}
        <script type="text/javascript">
            $('.le-quantity a').click(function (e) {
                e.preventDefault();
                var currentQty = $(this).parent().parent().find('input').val();
                if ($(this).hasClass('minus') && currentQty > 0) {
                    $(this).parent().parent().find('input').val(parseInt(currentQty, 10));
                } else {
                    if ($(this).hasClass('plus')) {
                        $(this).parent().parent().find('input').val(parseInt(currentQty, 10));
                    }
                }
            });
        </script>
